# Entornos virtuales de Python
venv/
env/
__pycache__/

# Node / Frontend
node_modules/
dist/
build/

# Variables de entorno (¡NUNCA SUBIR ESTO A GITHUB!)
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db